[submodule "theme/boostchild"]
	path = theme/boostchild
	url = https://gitlab.com/matt.donnelly/moodle-theme_boostchild
[submodule "course/format/topics_advanced"]
	path = course/format/topics_advanced
	url = https://gitlab.com/matt.donnelly/moodle-format_topics_advanced
[submodule "mod/questionnaire"]
	path = mod/questionnaire
	url = https://github.com/PoetOS/moodle-mod_questionnaire.git
	branch = MOODLE_37_STABLE
[submodule "mod/journal"]
	path = mod/journal
	url = https://github.com/elearningsoftware/moodle-mod_journal.git
